* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}


.navbar {
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #00bcd4;
}


.login-box {
  width: 380px;
  background: white;
  margin: 70px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box p {
  color: #666;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.login-box form button {
  width: 100%;
  padding: 12px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box form button:hover {
  background: #555;
}


.forget {
  display: block;
  margin: 15px 0;
  color: #007bff;
  text-decoration: none;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider span {
  margin: 0 10px;
  color: #777;
}


.google,
.facebook {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google {
  background: #db4437;
  color: white;
}

.facebook {
  background: #4267b2;
  color: white;
}


.sign-up {
  margin-top: 20px;
}

.sign-up a {
  color: #007bff;
  text-decoration: none;
}